/* Alla stilar för hela sidan. Mobile first */

/* --------------------------  Reset and base styles -------------------------- */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
    html { scroll-behavior: auto; }
  }

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
    margin: 0;
}

img {
    max-width: 100%;
    display: block;
}

ul {
    list-style: none;
    padding: 0;
}

address {
    font-style: normal;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    padding: 0;
}

/* --------------------------  Variables -------------------------- */

:root {
    --color-black: #000;
    --color-white: #fff;
    --color-white-transparent: rgba(255, 255, 255, 0.064);
    --color-grey-light-background: #f5f5f5;
    --color-grey-text-background: #bbbbbb;
    --color-grey-shadow-1: #2b2b2b80;

    /* Storlek på ikoner */
    --icon-size: 32px;
}

/* --------------------------  Body styles -------------------------- */
body {
    background-color: var(--color-grey-light-background);
    color: var(--color-black);
    font-size: 1rem;
    line-height: 1.5;
}

/* --------------------------  Header styles -------------------------- */

header{
    background-image: url(../assets/bg/negative-space-black-forest-dawn.jpg);
    background-size: cover;
    background-position: center;
    position: relative; 
    color: var(--color-white);
}


.nav-toggle {
    display:flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background: none;
    border: none;
    cursor: pointer;
    filter: invert(1);
}

.nav-toggle-icon {
    width: var(--icon-size);
    height: var(--icon-size);
}

.nav-container {
    background-color: var(--color-white-transparent);
    height: 60px;
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 12px;
}

.nav-list {
    display: none
}

.header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-top: 60px;
    min-height: 100vh;
}

.header-content>h1,
.header-content>p {
    text-align: center;
}

.header-content>h1 {
    font-size: 1.8rem;
}

.header-content>p {
    max-width: 280px;
    font-size: 1.4rem;
}
   
/* -----  Scroll arrow to Om (gör så att den scrollar i en fin transition) ----- */
#scroll-to-om-arrow {
    width: var(--icon-size);
    height: var(--icon-size);
    position: absolute;
    bottom:40px;
    left: 50%;
    transform: translateX(-50%);
    filter: invert(1);
}


/* --------------------------  Main styles -------------------------- */
main {
    padding: 0 0 80px;
    position: relative;
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
}

#om {
    padding-top: 40px;
}

#om  h2{
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 40px;
}

#om  h3{
    font-size: 1rem;
}

.gridcontainer {
    display: grid;
    gap: 40px;
}

.griditem {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.griditem>img {
    border-radius: 50%;
    box-shadow: 0 0 40px 10px var(--color-grey-shadow-1);
    width: 60%;
    max-width: 320px;
    min-width: 200px;
}

.om-lagmedlem {
    align-self: stretch;
    background-color: var(--color-grey-text-background);
    border-radius: 8px;
    padding: 40px;
    max-width: 90%;
    margin: 0 auto;
}

.citat-tecken {
    font-size: 4rem;
    font-weight: bold;
    line-height: 0;
    vertical-align: -24px;
    margin-right: 12px;
}

/* -----  Scroll arrow to footer (gör även här så att den scrollar i en fin transition) ----- */
#scroll-to-footer-arrow {
    width: var(--icon-size);
    height: var(--icon-size);
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
}

/* --------------------------  Footer styles -------------------------- */
footer {
    background-color: var(--color-black);
    color: var(--color-white);
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.footer-address, .footer-contact, .footer-social {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.icon {
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    vertical-align: middle;
    margin-right: 0.4em;
    filter: invert(1); 
  }

.instagram {
    background-image: url(../assets/icons/instagram.svg);  
}

.twitter {
    background-image: url(../assets/icons/x.svg);
}

.facebook {
    background-image: url(../assets/icons/facebook.svg);
}