@media (min-width: 768px) {
    /* Stilar för skärmar större än 768px. */


    header a {
        font-size: 1.2rem;
    }
    header a:hover {
        text-decoration: underline;
    }
    .header-content > p{
        max-width: 424px;
    }

    .gridcontainer {
        grid-template-columns: repeat(2, 1fr);
    }

    .nav-list {
        display: flex;
        gap:2.5rem;
        padding: 1.25rem 2.5rem;
    }
    .nav-toggle {
        display: none;
    }

    .om-lagmedlem {
        max-width: 420px;
    }

    footer {
        padding-inline: 2.5rem;
      }
    
    .footer-content {
        flex-direction: row;
        font-size: 1.2rem;
        justify-content: space-evenly;
        width: 100%; 
    }
}

