@media (min-width: 768px) {
    /* Stilar för skärmar större än 768px. */


    header a {
        font-size: 1.2rem;
    }
    header a:hover {
        text-decoration: underline;
    }
    .header-content > p{
        max-width: 424px;
    }

    .gridcontainer {
        grid-template-columns: repeat(2, 1fr);
    }

    .nav-list {
        display: flex;
        gap:40px;
        padding: 20px 40px;
    }
    .nav-toggle {
        display: none;
    }

    .citat p {
        max-width: 420px
    }


    
    .footer-content {
        flex-direction: row;
        font-size: 1.2rem;
        justify-content: space-evenly;
        width: 100%; /* VAd ska jag ha för bredd för att kunna använda space-evenly. Kanske borde jag ändra grundinställningen med margin 0 auto och width max content i main.css till något annat? */
    }
}

